<h1><%= @merchant.name %>' Discounts</h1>

<% @merchant.bulk_discounts.each do |discount| %>
  <ul>
    <li><%= link_to  discount.bulk_name, merchant_bulk_discount_path(@merchant, discount)%></li>
    <li>Percentage discount: <%= discount.percentage_discount %></li>
    <li>Quantity threshold: <%= discount.quantity_threshold %></li>
  </ul>
<% end %>

<%= button_to "Create a new discount", new_merchant_bulk_discount_path(@merchant), method: :get %>
<h3>Upcoming Holidays</h3>
